/*General Style Information */

body {
background-color:rgba(0, 0, 0);
font-family: 'Koulen', sans-serif;;
padding: 50px;

/*Container*/

}

.row {
    width: 300px;
    margin: 10px auto 10px auto;
    float: left;
}

.image-container {
    display: table-cell;
    vertical-align: middle;
    padding: 60px;
}


/*Text Style Information */

h1 {
    color:#9d9db6b4;
    text-align: center;
    font-style: oblique;
    font-size: 100px;
    }    

h2 {
    color:#fcfcfc;
    text-align: center;
    font-style: oblique;
    font-size: 30px;
    }

    p {
        color: rgba(225, 233, 225, 0.671);
        font-size:20px;
        text-align:left
    }

img {
    max-width: 100%;
    max-height: 100%;
  
}

li {
    text-decoration: none;
}

/*Animation Information*/

.shadow-drop-2-center:hover {
    -webkit-animation:shadow-drop-2-center 1s cubic-bezier(.25,.46,.45,.94) both;
    animation:shadow-drop-2-center 1s cubic-bezier(.25,.46,.45,.94) both;
}

 @-webkit-keyframes shadow-drop-2-center{
     0%{
         -webkit-transform:translateZ(0);transform:translateZ(0);
         -webkit-box-shadow:0 0 0 0 transparent;
         box-shadow:0 0 0 0 transparent
        }
        100%{
            -webkit-transform:translateZ(50px);
            transform:translateZ(50px);
            -webkit-box-shadow:0 0 20px 0 rgb(255, 255, 255);
            box-shadow:0 0 20px 0 rgb(255, 255, 255)
        }
    }
    @keyframes shadow-drop-2-center{
        0%{
            -webkit-transform:translateZ(0);transform:translateZ(0);
            -webkit-box-shadow:0 0 0 0 transparent;box-shadow:0 0 0 0 transparent
        }100%{
            -webkit-transform:translateZ(50px);transform:translateZ(50px);
            -webkit-box-shadow:0 0 20px 0 rgb(255, 255, 255);box-shadow:0 0 20px 0 rgb(255, 255, 255)
        }
    }


  .scale-in-center {
        -webkit-animation:scale-in-center 1s cubic-bezier(.25,.46,.45,.94) both;
        animation:scale-in-center 1s cubic-bezier(.25,.46,.45,.94) both
    }

@-webkit-keyframes scale-in-center{
    0%{
        -webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1
        }
    }
    @keyframes scale-in-center{
        0%{
            -webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1
            }
        }


 .text-pop-up-top {
            -webkit-animation:text-pop-up-top 1s cubic-bezier(.25,.46,.45,.94) both;animation:text-pop-up-top 1s cubic-bezier(.25,.46,.45,.94) both
        }

 @-webkit-keyframes text-pop-up-top{
     0%{
         -webkit-transform:translateY(0);transform:translateY(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;text-shadow:none}100%{-webkit-transform:translateY(-50px);transform:translateY(-50px);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;text-shadow:0 1px 0 #ccc,0 2px 0 #ccc,0 3px 0 #ccc,0 4px 0 #ccc,0 5px 0 #ccc,0 6px 0 #ccc,0 7px 0 #ccc,0 8px 0 #ccc,0 9px 0 #ccc,0 50px 30px rgba(0,0,0,.3)
        }
    }
    @keyframes text-pop-up-top{
        0%{
            -webkit-transform:translateY(0);transform:translateY(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;text-shadow:none}100%{-webkit-transform:translateY(-50px);transform:translateY(-50px);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;text-shadow:0 1px 0 #ccc,0 2px 0 #ccc,0 3px 0 #ccc,0 4px 0 #ccc,0 5px 0 #ccc,0 6px 0 #ccc,0 7px 0 #ccc,0 8px 0 #ccc,0 9px 0 #ccc,0 50px 30px rgba(0,0,0,.3)
            }
        }




/*Container*/
a{
    font-size: 20px;
}

a:link, a:visted{
color:indigo
}

a:hover {
    color:blueviolet
}

a:active {
    color:#8181cf
}

/*Breakpoint */

@media only screen and (max-width: 600px) {

    body {
        background-color:rgb(0, 0, 0);
    }

    h1 {
        color:#8181cf;
        text-align: center;
        font-style: oblique;
        font-size: 50px;
        }

 }
